div.word {
    float: left;
    margin-left: 5px;
}

div.word:hover {
    background-color: cadetblue! important;
}

div.selected {
    background-color: lightblue! important;
}

div.selected:hover {
    background-color: brown! important;
}

.word-translation {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: brown;
}