.form-container {
    margin-right: 20px;
}

.word-translation {
    text-align: center;
    font-size: smaller;
}

app-verse-word {
    float: left;
    margin-left: 5px;
}

.verse-number {
    font-size: 25px;
    margin-left: 10px;    
}

.verse {
    float: left;
    width: 100%;
}