<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container>

<mat-toolbar>
  <span>{{title}}</span>
</mat-toolbar>

  <mat-sidenav #sidenav opened="{{open}}" mode="side">
      <app-word-entry #wordentry (onSave)="sidenav.toggle();"></app-word-entry>
  </mat-sidenav>
  
  <app-book (onWordSelected)="wordSelected($event, sidenav);wordentry.setSelectedWord($event);"></app-book>
  <!-- <button (click)="sidenav.toggle()" >teste</button> -->

  <!-- primary content -->
</mat-sidenav-container>

